body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1680px;
}

.topbar{
    background-image: url("img/john-looy-X3DZ1c7MPa4-unsplash.png");
    background-size: cover;
    padding: 68px 88px 0;
}

#nav{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 19px;
    box-shadow: 0 10px 15px rgba(2, 2, 2, 0.1);
    border-radius: 2px;
    font-weight: lighter;
}

#nav > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.picto{
    margin-left: 20px;
}

.navlinks{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.navlinks ~ div {
    display: flex;
    justify-content: end;
}

.topbar > div:nth-of-type(2){
    padding: calc(138px - 88px);
}

.topbar > div:nth-of-type(2) > span{
    color: #2871B7;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 52px
}

.topbar > div:nth-of-type(2) > div{
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 36px
}

.topbar > div:nth-of-type(2) > button{
    background-color: #CD5A83;
    border-radius: 5px;
    padding: 11px;
    border: none;
    color: white;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-weight: bold
}

.topbar > div:nth-of-type(3){
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.topbar > div:nth-of-type(3) > div{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 2px;
    opacity: 0.35;
    margin-right: 18px
}